{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{% set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
] %}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
    <head-placeholder token="{{ placeholder_token }}">
        <title>{{ head_title|safe_join(' | ') }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">
        <link rel="apple-touch-icon" sizes="57x57" href="/{{ base_path ~ directory }}/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/{{ base_path ~ directory }}/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/{{ base_path ~ directory }}/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/{{ base_path ~ directory }}/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114"
              href="/{{ base_path ~ directory }}/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120"
              href="/{{ base_path ~ directory }}/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144"
              href="/{{ base_path ~ directory }}/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152"
              href="/{{ base_path ~ directory }}/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180"
              href="/{{ base_path ~ directory }}/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"
              href="/{{ base_path ~ directory }}/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/{{ base_path ~ directory }}/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/{{ base_path ~ directory }}/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/{{ base_path ~ directory }}/favicons/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#b1a26e">
        <meta name="msapplication-TileImage" content="/{{ base_path ~ directory }}/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <css-placeholder token="{{ placeholder_token }}">
            <js-placeholder token="{{ placeholder_token }}">
                </head>
<body{{ attributes.addClass(body_classes) }}>
{#
  Keyboard navigation/accessibility link to main content section in
  page.html.twig.
#}
{{ page_top }}
<a href="#main-content" title=" {{ 'Skip to main content'|t }}" class="visually-hidden focusable skip-link">
    {{ 'Skip to main content'|t }}
</a>
{{ page }}
{{ page_bottom }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<js-bottom-placeholder token="{{ placeholder_token }}">
</body>
</html>